/* Estilização básica do site */
body {
    font-family:'Segoe UI' Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color:#333;
  }
  
  header {
    background-color: #d0e1e4;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: lab(83.27% -80.01 69.23);
    border-radius: 5px;
  }
  
  main {
    padding: 2em;
    max-width: 800px;
    margin: 3em auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    line-height: 1.7;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-bottom: 1em;
    padding: 0.6em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 0.7em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  /* Cores diferentes para cada página */
body.pagina-sobre {
  background-color: #d0e1e4; 
}

body.pagina-formacao {
  background-color: #e7c1e5; 
}

body.pagina-portfolio {
  background-color: #89e3f3; 
}

body.pagina-contato {
  background-color: #94e2ae; 
}

  

  
